.dead-stock-head{
    background-color: #cecece;
    color: #5B5B5B;
}
.dead-stock-body th{
    margin: 1em;
}
.dead-stock-body{
    background-color: #ececec;
    text-align: center;
}
.dead-stock-body td{
    margin: 1em;
}